@tailwind base;
@tailwind utilities;
@tailwind components;


/* - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%) */

:root {
    --light-color: hsl(0, 0%, 98%);
    --dark-bg: hsl(207, 26%, 17%);
    --dark-text: hsl(200, 15%, 8%);
    --dark-light: hsl(209, 23%, 22%);
}

.light-color {
    background: var(--light-color);
}

.dark-color {
    background: var(--dark-bg);
}

.dark-light{
    background: var(--dark-light);
}

.dark {
    background: var(--dark-bg);
    color: var(--light-color);
}

.dark .dark\:dark-light {
    background: var(--dark-light);
}

body {
    font: 600 14px/20px 'Nunito Sans', sans-serif;
}